<header>
    <h1>Cocoa Journey Inventory</h1>
    <div>
        <a href="/" >Home</a>
        <a href="/create/category" >Add a new category</a>
        <a href="/create/item" >Add a new product</a>
    </div>
</header>
<div class="categoryList">
    <ul>
        <li>
            <a href="/allProducts">All</a>
        </li>
        <% for (let i = 0; i < allCategories.length; i++) { %>
        <li>
            <a href="/products?category=<%= allCategories[i].name %>">
                <span> <%= allCategories[i].name %> </span>
            </a>
            <a href="/update/category?category=<%= allCategories[i].name %>">Edit</a>
            <a href="/delete/category?category=<%= allCategories[i].name %>">Delete</a>
        </li>
        <% } %>
    </ul>
</div>