<header>
    <h1>The Cocoa Bear Inventory</h1>
    <nav>
        <a href="/" >Home</a>
        <a href="/auth/create/category" >Add a new category</a>
        <a href="/auth/create/item" >Add a new product</a>
    </nav>
</header>
<div class="categoryList">
    <ul>
        <li>
            <a href="/allProducts">All</a>
        </li>
        <% for (let i = 0; i < allCategories.length; i++) { %>
        <li>
            <a href="/products?category=<%= allCategories[i].name %>">
                <span> <%= allCategories[i].name %> </span>
            </a>
            <a href="/auth/update/category?category=<%= allCategories[i].name %>" class="changeLinks">Edit</a>
            <a href="/auth/delete/category?categoryName=<%= allCategories[i].name %>" class="changeLinks">Delete</a>
        </li>
        <% } %>
    </ul>
</div>